<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-inverse">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Pagina 1', pages_one_path %>
      </li>
      <li class="nav-item">
        <%= link_to 'Pagina 2', pages_two_path %>
      </li>
      <li class="nav-item">
        <%= link_to 'Pagina 3', pages_three_path %>
      </li>
    </ul>
  </div>
</nav>
